{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Błazej Stachura</title>
    <!--    Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Comforter+Brush&family=Fredericka+
    the+Great&family=IM+Fell+English+SC&family=
    Kumar+One+Outline&family=Monofett&family=Playball&family=Sacramento&family=Shizuru&family=Smooch&family=The+
    Nautigal&family=Twinkle+Star&family=Waterfall&family=Wendy+One&display=swap"
          rel="stylesheet">
    <!--    Css stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!--    Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!--BOostrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>

<body>

<section id="title" class="title-photo">
    <div class="container-top">
        <!-- Nav Bar -->
        <!--    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">-->
        <nav class="navbar  navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href=""><img
                    src="https://blazejstachura.pl/gallery_gen/9c283436823ec5d4f21e4ebc357cc8d4_112x106.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">STRONA GŁÓWNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">OFERTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">KALENDARZ</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#cta">BLOG</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#cta">KONTAKT</a>
                    </li>
                    <ul/>
            </div>
        </nav>
        <!-- Title -->

        <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <p class="title-paragraph">Pokaz iluzji z klasą! Dostarczam niezapomnianą rozrywkę<br> na wydarzeniach
                    takich jak imprezy firmowe, prywatne, urodziny, wesela</p>
                <button type="button" class="btn btn-outline-light btn-lg title-buttons"><i
                        class="fas fa-hat-wizard"></i>
                    Współpraca
                </button>
                <button type="button" class="btn btn-outline-light btn-lg title-buttons"><i
                        class="fas fa-hand-holding-usd"></i> Oferta
                </button>
            </div>
        </div>
    </div>
</section>
<!-- Personal Info-->
<section id="info" class="white-section">
    <hr class="style18">
    <div class="container-fluid">
        <div class="row">

            <div class="info-column col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>ILUZJONISTA NA TWOJEJ IMPREZIE</h3>
                    </div>
                    <div class="card-body">
                        <p><span>Zaskoczy</span> gości niepowtarzalną rozrywką.<br>
                            <span>
                            Dzięki temu goście będą </span><span>wspominać to wydarzenie z uśmiechem</span> na twarzy
                            przez wiele lat i sami mogli <span>przeżyć coś niesamowitego.</span></p>
                    </div>
                </div>
            </div>

            <div class="info-column col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>WSZECHSTRONNOŚĆ</h3>
                    </div>
                    <div class="card-body">
                        <p>Pokaz iluzji jest <span>dopasowany specjalnie pod Twoje wydarzenie</span>, uwzględniając
                            warunki
                            na sali, rodzaj wydarzenia oraz <span>wiek widzów.</span>
                        <p>Mogę występować na kameralnej imprezie dla kilkunastu osób lub na większym wydarzeniu dla 100
                            gości. </p>
                    </div>
                </div>
            </div>

            <div class="info-column col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>REALIZACJE CECHUJE</h3>
                    </div>
                    <div class="card-body">
                        <p><span>Bezpieczeństwo</span>, na pewno unikniesz niechcianych sytuacji jakie mogą się zdarzyć
                            przy
                            użyciu ognia, noży lub gwoździ.
                        <p><span>Terminowość</span>, zawsze pilnuję terminu, nawet w przypadku choroby możesz być
                            spokojny,
                            że sam poszukam kogoś kto mógłby mnie zastąpić.
                        <p><span>Niezawodność</span>, zebrane doświadczenie gwarantuje sukces na Twoim wydarzeniu!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="style18">
</section>
<!-- Video -->
<section id="video" class="colored-section">
    <div class="video-photo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <iframe src="https://www.youtube.com/embed/uta2Yu3Y7uc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h4 class="big-heading big-heading-mobile">WYSTĘP NA WESELU</h4>
                    <p>Tak wygląda występ na weselu, połączenie światowej klasy iluzji, dobrego klimatu oraz zabawna
                        interakcja z goścmi.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <iframe src="https://www.youtube.com/embed/rMiga6aqfd8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <!--                <video src= controls>-->
                    <!--                    Your browser does not support the video tag.-->
                    <!--                </video>-->
                </div>
                <div class="col-lg-6">
                    <h4 class="big-heading big-heading-mobile">FRAGMENT Z IMPREZY HALLOWEENOWEJ</h4>
                    <p>Występ był specjalnie przygotowany dla młodszej publiczności, która może w nim aktywnie i wesoło
                        uczestniczyć.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="white-section">
    <!--    <div class="container-fluid">-->

    <hr class="style18">
    <h4 class="testimonial-text-up">WYSTĘPOWAŁEM JUŻ DLA:</h4>

    <div id="testimonial-carousel" class="carousel slide" data-interval="2500" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <!--                <h2 class="testimonial-text">Świat IT czasem przenika się ze światem magii.</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/google.svg' %}" alt="google">
                <!--                <em>Google, Wrocław</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Bo w magii komunikacja jest bardzo ważna.</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/orange.svg' %}" alt="orange">
                <!--                <em>Orange, Warszawa</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Wyjątkowe miejsce i wyjątkowi ludzie.</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/toastmasters.svg' %}" alt="toastmasters">
                <!--                <em>Orange, Warszawa</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Campanile to...........</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/campanile.svg' %}" alt="campanile">
                <!--                <em>Campanile, Wrocław</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Estyma to...........</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/estyma.png' %}" alt="estyma">
                <!--                <em>Estyma, Kraków</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Estyma to...........</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/dworTomaszewice.svg' %}"
                     alt="dwor-tomaszewice">
                <!--                <em>Dwór Tomaszewice, okolice Krakowa</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Grid DYnamics to...........</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/gridDynamics.jpg' %}" alt="grid-dynamics">
                <!--                <em>Grid DYnamics, gdzies tam</em>-->
            </div>
            <div class="carousel-item container-fluid">
                <!--                <h2 class="testimonial-text">Teltech to...........</h2>-->
                <img class="testimonial-image" src="{% static '/images/logos/teltech.png' %}" alt="teltech">
                <!--                <em>TpTeltech,Łódz</em>-->
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Poprzedni</span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Następny</span>
        </a>
    </div>
    <h4 class="testimonial-text-down">ORAZ WIELU INNYCH FIRM. PAR MŁODYCH ORAZ HOTELI</h4>
    <hr class="style18">
</section>

{#<footer id="footer" class="colored-section">#}
{#    <div class="container-footer">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 feature-box">#}
{#                <i class="social-icon fab fa-facebook fa-4x"></i>#}
{#            </div>#}
{#            <div class="col-lg-3 feature-box">#}
{#                <i class="social-icon fab fa-youtube fa-4x"></i>#}
{#            </div>#}
{#            <div class="col-lg-3 feature-box">#}
{#                <i class="social-icon fab fa-instagram fa-4x"></i>#}
{#            </div>#}
{#            <div class="col-lg-3 feature-box">#}
{#                <i class="social-icon fas fa-envelope fa-4x"></i>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#    <h5>©2022 Błażej Stachura.</h5>#}
{#    </div>#}
{#</footer>#}
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 container-footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Błażej Stachura</h6>
                <p>Pomyślała z rozgoryczeniem że, ciemność zawsze napiera na światło.
                    Magia zawsze żądała zapłaty.</p>

                <p>Nora Roberts, Z krwi i kości.</p>

            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Oferta</h6>
                <p>
                    <a href="#!">Występy sceniczne</a>
                </p>
                <p>
                    <a href="#!">Urodziny</a>
                </p>
                <p>
                    <a href="#!">Wesela</a>
                </p>
                <p>
                    <a href="#!">Występy plenerowe</a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Przydatne linki</h6>
                <p>
                    <a href="#!">Kalendarz</a>
                </p>
                <p>
                    <a href="#!">Blog</a>
                </p>
                <p>
                    <a href="#!">Zdjęcia</a>
                </p>
                <p>
                    <a href="#!">Formularz kontaktowy</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Częstochowa, Aleje Ujazdowskie 212, Polska</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> blazej25@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> +48 602 820 308</p>
                <p>
                    <i class="fas fa-print mr-3"></i> +48 602 820 308</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2022 Wszelkie prawa zastrzeżone:
                    <a href="https://BlazejStachura.pl/">
                        <strong> BłazejStachura.pl</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="social-icon fab fa-facebook fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="social-icon fab fa-youtube fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="social-icon fab fa-youtube fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="social-icon fas fa-envelope fa-3x"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->
</body>
</html>