{#{% extends 'index.html' %}#}
{#{% load static %}#}
{#{% block title %}Kontakt{% endblock title %}#}
{#{% block body %}#}
{##}
{#{% endblock body %}#}

{% extends 'index.html' %}
{% load static %}
{% block title %}Kalendarz{% endblock title %}
{% block extrahead %}
    {#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/calender.css' %}">
{% endblock extrahead %}
<body>
{% block body %}
    <section id="calendar">
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-info right mr-2" href="{% url 'calendar' %}?{{ next_month }} "> Next Month >> </a>
                <a class="btn btn-info right mr-2" href="{% url 'calendar' %}?{{ prev_month }}"> << Previous Month </a>
            </div>
            <div class="col-lg-12 test">
                {{ calendar|safe }}
            </div>
        </div>
    </section>
{#<table border="0" cellpadding="0" cellspacing="0" class="calendar">#}
{#<tr><th colspan="7" class="month">January 2022</th></tr>#}
{#<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>#}
{#<tr> <td></td><td></td><td></td><td></td><td></td><td><span class='date'>1</span><ul>  </ul></td><td><span class='date'>2</span><ul>  </ul></td> </tr>#}
{#<tr> <td><span class='date'>3</span><ul>  </ul></td><td><span class='date'>4</span><ul>  </ul></td><td><span class='date'>5</span><ul>  </ul></td><td><span class='date'>6</span><ul>  </ul></td><td><span class='date'>7</span><ul>  </ul></td><td><span class='date'>8</span><ul>  </ul></td><td><span class='date'>9</span><ul>  </ul></td> </tr>#}
{#<tr> <td><span class='date'>10</span><ul> <li> Przedstawienie 2022-01-10 21:00:49+00:00 2022-01-10 23:00:00+00:00</li> </ul></td><td><span class='date'>11</span><ul>  </ul></td><td><span class='date'>12</span><ul>  </ul></td><td><span class='date'>13</span><ul>  </ul></td><td><span class='date'>14</span><ul>  </ul></td><td><span class='date'>15</span><ul>  </ul></td><td><span class='date'>16</span><ul>  </ul></td> </tr>#}
{#<tr> <td><span class='date'>17</span><ul>  </ul></td><td><span class='date'>18</span><ul>  </ul></td><td><span class='date'>19</span><ul>  </ul></td><td><span class='date'>20</span><ul>  </ul></td><td><span class='date'>21</span><ul>  </ul></td><td><span class='date'>22</span><ul>  </ul></td><td><span class='date'>23</span><ul>  </ul></td> </tr>#}
{#<tr> <td><span class='date'>24</span><ul>  </ul></td><td><span class='date'>25</span><ul>  </ul></td><td><span class='date'>26</span><ul>  </ul></td><td><span class='date'>27</span><ul>  </ul></td><td><span class='date'>28</span><ul>  </ul></td><td><span class='date'>29</span><ul>  </ul></td><td><span class='date'>30</span><ul>  </ul></td> </tr>#}
{#<tr> <td><span class='date'>31</span><ul>  </ul></td><td></td><td></td><td></td><td></td><td></td><td></td> </tr>#}


{% endblock body %}
</body>
</html>