{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Kontakt{% endblock title %}
{% block extrahead %}
    {#    <link rel="stylesheet" href="{% static 'main.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extrahead %}
<body>
{% block body %}
    {#<form method='post' name="ContactForm">#}
    {#    {% csrf_token %}#}
    {#    <label for="fname">Imię</label> <input type="text" placeholder="imie" name="first_name"></br>#}
    {#    <label for="fname">adres e-mail</label> <input type="text" placeholder="adres email" name="email"></br>#}
    {#    <label for="fname">telefon komórkowy</label> <input type="text" placeholder="telefon kontaktowy" name="tel"></br>#}
    {#    <label for="fname">miejsce pokazu</label> <input type="text" placeholder="miejsce pokazu" name="show_location"></br>#}
    {#    <label for="fname">Wiadomość</label> <input type="text" placeholder="wiadomość" name="message"></br>#}
    {#    <input type="submit" placeholder="Wyślij">#}
    {#</form>#}
    {% if not message %}
        {#        <form method="post" novalidate>#}
        {#            {% csrf_token %}#}
        {##}
        {#            <button type="submit" class="btn btn-success">Save person</button>#}
        {#        </form>#}
        <section id="contact" class="contact-photo">
            {#            <div class="container-fluid">#}
            <div class="row ">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <h2 class="heading">Napisz do mnie ;)</h2>
{#                    <p class="text-center">#}
{#                        Pamiętaj by napisać kilka szczegółów takich jak rodzaj imprezy,#}
{#                        liczba gości, <br>warunki na pokaz (scena z widownią, restaruracja, sala bankietowa, salon).#}
{#                    </p>#}
                    <form method="post" class="control-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">{{ form.name }}</div>
                            <div class="col-lg-12">{{ form.email }}</div>
                            <div class="col-lg-12">{{ form.phone }}</div>
                            <div class="col-lg-12">{{ form.place_of_performance }}</div>
                            <div class="col-lg-12">{{ form.date_of_performance }}</div>
                            <div class="col-lg-12">{{ form.message }}</div>
                            <div class="col-lg-12">
                            <button type="submit" class="btn btn-outline-light btn-lg title-buttons">Wyślij
                                wiadomość
                            </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        </section>
    {% endif %}
    {{ message }}

    {#    <div class="row">#}
    {#        <div class="col-sm-12">#}
    {#            <span class="heading-meta">Contact</span>#}
    {#            <h2 class="heading">Get in touch</h2>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="container-fluid">#}
    {#        <div class="row contact-row">#}
    {#            <div class="col-xl-7 contact-form-animate">#}
    {#                <p class="text-center">#}
    {#                    Interested in hiring me for your project or just want to say hello?#}
    {#                    You can fill out the contact form below or send me an email to example@example.com#}
    {#                </p>#}
    {#                <form method="post" class="control-form">#}
    {#                    {% csrf_token %}#}
    {#                    <div class="row">#}
    {#                        <div class="col-xl-6">#}
    {#                            {{ form.name }}#}
    {#                        </div>#}
    {#                        <div class="col-xl-6">#}
    {#                            {{ form.email }}#}
    {#                        </div>#}
    {#                        <div class="col-xl-6">#}
    {#                            {{ form.phone }}#}
    {#                        </div>#}
    {#                        <div class="col-xl-12">#}
    {#                            {{ form.place_of_performance }}#}
    {#                        </div>#}
    {#                        <div class="col-xl-12">#}
    {#                            {{ form.date_of_performance }}#}
    {#                        </div>#}
    {#                        <div class="col-xl-12">#}
    {#                            {{ form.message }}#}
    {#                        </div>#}
    {#                        <div class="col-xl-12">#}
    {#                            <button type="submit" class="btn btn-block btn-primary">Send Now</button>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                </form>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock body %}
</body>
</html>